/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.my-outlined-dialog {
    outline: 2px solid blue;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}